h1 {
  color: red;
  line-height: 300px;
}

h1 strong {
  color: blue;
}
p {
  text-align: right;
  font-style: oblique;
}

li {

  font-weight:  bold;
  font-family:  fantasy;
  font-size: 20px;
}

ul{
  line-height: 50px;
}
