body {
  background: url("../background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.nav_custom {
  background-image: url("../pictures/trump.jpg");
  background-size: cover;
  text-align: center;
  width: 3000px;
  margin:auto;
  margin-bottom: 50vh;
  font-size: 50px;
  font-family: cursive;
  text-shadow: 3px 2px red;
}

.rightnav {
  background-image: url("../pictures/trump.jpg");
  background-size: cover;
  width: 260px;
  position:fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-family: cursive;
  text-shadow: 1px 1px red;
  font-size: 20px;
  border: 2px solid;
  border-radius: 25px;
}

.vertical-center {
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

p, ol, h1, p a{
  color:orange;
}

img {
  margin: 10px auto 10px auto;
  border: 15px dotted red;
  border-radius: 500px;
  width: 100%;
}
