body {
  background: url("../background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.nav {
  text-align: center;
  width: 200px;
  margin:auto;
  padding-bottom: 50vh;
}

.vertical-center {
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
